talosconfig
vmtoolsd-secret.yaml
talos-control-1.piccola.us.yaml
talos-control-2.piccola.us.yaml
talos-control-3.piccola.us.yaml
talos-control-4.piccola.us.yaml
talos-control-5.piccola.us.yaml
talos-talos-0.piccola.us.yaml
