apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: esphome
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "100"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    name: in-cluster
    namespace: esphome
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    managedNamespaceMetadata:
      labels:
        goldilocks.fairwinds.com/enabled: "true"
        # pod-security.kubernetes.io/enforce: privileged
  sources:
    - repoURL: https://bjw-s-labs.github.io/helm-charts
      chart: app-template
      targetRevision: 4.5.0
      helm:
        releaseName: esphome
        valuesObject:

          controllers:
            esphome:
              pod:
                securityContext:
                  runAsUser: 2000
                  runAsGroup: 2000
                  fsGroup: 2000
                  fsGroupChangePolicy: OnRootMismatch
              containers:
                app:
                  image:
                    repository: ghcr.io/home-operations/esphome
                    tag: 2026.1.2@sha256:05ea02591d1a1693268e2958bd82ae07b02aa2f0188c67bf658399014ac069e7
                  env:
                    TZ: America/Denver
                    ESPHOME_DASHBOARD_USE_PING: true

          service:
            app:
              controller: esphome
              ports:
                http:
                  port: 6052

          route:
            main:
              parentRefs:
                - name: internal
                  namespace: gateway
                  # sectionName: https
              hostnames:
                - esphome-k8s.<path:cluster-secrets:cluster-secrets#domain>
              rules:
                - matches:
                    - path:
                        type: PathPrefix
                        value: /
                  backendRefs:
                    - kind: Service
                      port: 6052
                      name: esphome
                      namespace: esphome
                      weight: 1

          persistence:
            config:
              existingClaim: esphome-config
            cache:
              type: emptyDir
            esphome-cache:
              type: emptyDir
              globalMounts:
                - path: /config/.esphome
